body
{
    background-color: #0001;
}
h5,h2{
        font: Bold;
        font-family: 'Times New Roman', Times, serif;
        Color: White;
        text-align: center;
        padding: 1%;
        margin: 1px;
}
.card
{
    background-color:#0224;
}
footer 
{
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
    }
.btn-primary
{
    color: black;
    background-color: whitesmoke;
}
